:root {
  --ion-color-primary: #963e75;
  --ion-color-primary-rgb: 150, 62, 117;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #78325e;
  --ion-color-primary-tint: #b45787;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-color-primary: #963e75;
    --ion-color-primary-contrast: #000000;
    --ion-color-step-50: #2c2c2c;
  }
}
