<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar lines="none">
    <!-- <ion-img slot="start" class="glen_logo" src="assets/images/Ryaltris LOGO-01.jpg"></ion-img> -->
    <ion-img slot="end" class="glen_logo" src="assets/images/glenmark-logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="true" class="content-center ion-padding">
  <p class="title">Create Account</p>
  <p class="subtitle">Sign up to manage your allergies better</p>

  <!-- Name -->
  <ion-item class="custom-bg">
    <img src="assets/Frame 1503 (3).png" alt="Icon" class="input_icon" />
    <ion-input [(ngModel)]="signupService.signupData.name" placeholder="Enter your name" type="text" autocapitalize="words"></ion-input>
  </ion-item>

  <!-- Age -->
  <ion-item class="custom-bg">
    <img src="assets/Frame 1503 (2).png" alt="Icon" class="input_icon" />
    <ion-input [(ngModel)]="signupService.signupData.age" placeholder="Enter Your Age" type="number"></ion-input>
  </ion-item>


  <ion-item class="custom-bg">
    <img src="assets/Frame 1503 (4).png" alt="Icon" class="input_icon" />
    <ion-input [(ngModel)]="signupService.signupData.doctor" placeholder="Enter your doctor's name" type="text" autocapitalize="words"></ion-input>
  </ion-item>

  <div class="center-button">
    <ion-button class="custom-btn" (click)="next()" [disabled]="!isNextEnabled()">
      Next
    </ion-button>
  </div>
</ion-content>