<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar lines="none">
    <ion-img slot="end" class="glen_logo" src="assets/images/glenmark-logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-center">
  <div class="header">
    <div class="title">{{ (signupData?.name || 'User') }}'s Profile</div>
  </div>

  <!-- Basic Info -->
  <ion-item class="custom-bg">
    <ion-input [(ngModel)]="signupData.name" [readonly]="!editMode['name']"></ion-input>
    <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('name')">
      <ion-icon [name]="editMode['name'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item class="custom-bg">
    <ion-input [(ngModel)]="signupData.age" type="number" [readonly]="!editMode['age']"></ion-input>
    <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('age')">
      <ion-icon [name]="editMode['age'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item class="custom-bg">
    <ion-select [(ngModel)]="signupData.doctor" [disabled]="!editMode['doctor']">
      <ion-select-option *ngFor="let doctor of dr_list" [value]="doctor.id">{{ doctor.name }}</ion-select-option>
    </ion-select>
    <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('doctor')">
      <ion-icon [name]="editMode['doctor'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Nose Allergy -->
  <ion-item>
    <ion-label>I think I have nose allergy</ion-label>
    <ion-toggle [(ngModel)]="signupData.allergicNose" (ionChange)="onInputChange('allergicNose')"></ion-toggle>
    <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('allergicNose')">
      <ion-icon [name]="editMode['allergicNose'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
    </ion-button>
  </ion-item>

  <div *ngIf="signupData.allergicNose">
    <ion-item class="custom-bg">
      <ion-select [(ngModel)]="signupData.noseSymptoms" multiple="true" placeholder="Select Symptoms" [disabled]="!editMode['noseSymptoms']">
        <ion-select-option *ngFor="let symptom of noseSymptomOptions" [value]="symptom">{{ symptom }}</ion-select-option>
      </ion-select>
      <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('noseSymptoms')">
        <ion-icon [name]="editMode['noseSymptoms'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="custom-bg">
      <ion-select [(ngModel)]="signupData.noseFrequency" placeholder="Select Frequency" [disabled]="!editMode['noseFrequency']">
        <ion-select-option *ngFor="let freq of noseFrequencyOptions" [value]="freq">{{ freq }}</ion-select-option>
      </ion-select>
      <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('noseFrequency')">
        <ion-icon [name]="editMode['noseFrequency'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="custom-bg">
      <ion-select [(ngModel)]="signupData.noseImpact" multiple="true" placeholder="Select Impact" [disabled]="!editMode['noseImpact']">
        <ion-select-option *ngFor="let impact of noseImpactOptions" [value]="impact">{{ impact }}</ion-select-option>
      </ion-select>
      <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('noseImpact')">
        <ion-icon [name]="editMode['noseImpact'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <!-- Tested for Allergens -->
  <ion-item>
    <ion-label>Have you been tested for allergy?</ion-label>
    <ion-toggle [(ngModel)]="signupData.testedForAllergens" (ionChange)="onInputChange('testedForAllergens')"></ion-toggle>
    <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('testedForAllergens')">
      <ion-icon [name]="editMode['testedForAllergens'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
    </ion-button>
  </ion-item>

  <div *ngIf="signupData.testedForAllergens">
    <ion-item class="custom-bg">
      <ion-select [(ngModel)]="signupData.dustSubtypes" multiple="true" placeholder="Select Dust Allergies" [disabled]="!editMode['dustSubtypes']">
        <ion-select-option *ngFor="let dust of dustOptions" [value]="dust">{{ dust }}</ion-select-option>
      </ion-select>
      <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('dustSubtypes')">
        <ion-icon [name]="editMode['dustSubtypes'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="custom-bg">
      <ion-select [(ngModel)]="signupData.pollenSubtypes" multiple="true" placeholder="Select Pollen Allergies" [disabled]="!editMode['pollenSubtypes']">
        <ion-select-option *ngFor="let pollen of pollenOptions" [value]="pollen">{{ pollen }}</ion-select-option>
      </ion-select>
      <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('pollenSubtypes')">
        <ion-icon [name]="editMode['pollenSubtypes'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="custom-bg">
      <ion-select [(ngModel)]="signupData.moldSubtypes" multiple="true" placeholder="Select Mold Allergies" [disabled]="!editMode['moldSubtypes']">
        <ion-select-option *ngFor="let mold of moldOptions" [value]="mold">{{ mold }}</ion-select-option>
      </ion-select>
      <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('moldSubtypes')">
        <ion-icon [name]="editMode['moldSubtypes'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div *ngIf="!signupData.testedForAllergens">
      <ion-item class="custom-bg">
        <ion-select [(ngModel)]="signupData.suspectedAllergens" multiple="true" placeholder="Suspected Allergens" [disabled]="!editMode['suspectedAllergens']">
            <ion-select-option value="Dust Mites">Dust Mites</ion-select-option>
            <ion-select-option value="Pollens">Pollens</ion-select-option>
            <ion-select-option value="Mold">Mold</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
        <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('suspectedAllergens')">
            <ion-icon [name]="editMode['suspectedAllergens'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
        </ion-button>
    </ion-item>
  </div>

  <!-- Medication and Satisfaction -->
  <ion-item class="custom-bg">
    <ion-select [(ngModel)]="signupData.medicationOptions" multiple="true" placeholder="Select Medication" [disabled]="!editMode['medicationOptions']">
      <ion-select-option *ngFor="let med of medicationOptionsList" [value]="med">{{ med }}</ion-select-option>
    </ion-select>
    <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('medicationOptions')">
      <ion-icon [name]="editMode['medicationOptions'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item class="custom-bg">
    <ion-select [(ngModel)]="signupData.satisfaction" placeholder="Select Satisfaction" [disabled]="!editMode['satisfaction']">
      <ion-select-option *ngFor="let satisfaction of satisfactionOptions" [value]="satisfaction">{{ satisfaction }}</ion-select-option>
    </ion-select>
    <ion-button fill="clear" slot="end" (click)="onEditOrUpdate('satisfaction')">
      <ion-icon [name]="editMode['satisfaction'] ? 'checkmark-outline' : 'create-outline'"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Other settings -->
  <ion-item lines="none" class="rmv-bck">
    <ion-label>
      <h2><strong>Notification Preference</strong></h2>
      <p>Personalized Alerts<br><small>Get Alerts Tailored To You</small></p>
    </ion-label>
    <ion-toggle slot="end" [(ngModel)]="notificationToggle" color="primary"></ion-toggle>
  </ion-item>

  <ion-item lines="none" class="rmv-bck">
    <ion-label>
      <h2><strong>Location Preference</strong></h2>
    </ion-label>
    <ion-toggle slot="end" [(ngModel)]="locationToggle" color="primary"></ion-toggle>
  </ion-item>

  <div class="button-container">
    <ion-button expand="block" fill="outline" (click)="onAgreeTermsChange()" color="primary" class="privacy-button">
      View Privacy Policy
    </ion-button>
  </div>
  <div *ngIf="showContainer" id="consentBox">
    <div class="consent-box">
      <button class="close-btn" (click)="onClose()">&times;</button>
      <div class="consent-content">
        <div class="privacy-section">
          <h2 class="section-title">Privacy Policy:</h2>
          <p class="privacy-text">
            At Bye-Lergy, we are committed to protecting your privacy...
          </p>
        </div>
      </div>
    </div>
  </div>

  <ion-item lines="none" class="rmv-bck">
    <ion-label>
      <h2><strong>Delete Account</strong></h2>
      <p>Once You Delete Your Account, You Will Lose Access To All Your Data</p>
    </ion-label>
  </ion-item>
  <div class="delete-section button-container">
    <ion-button class="delete-button" type="button" (click)="onDeleteAccount()">
      Delete Account
    </ion-button>
  </div>
</ion-content>
<app-footer></app-footer>