<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar lines="none">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-img slot="start" class="glen_logo" src="assets/images/Ryaltris LOGO-01.jpg"></ion-img> -->
    <ion-img slot="end" class="glen_logo" src="assets/images/glenmark-logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="true" class="content-center ion-padding">
  <div class="conclusion-card">
    <p class="title">Conclusion</p>
    <p class="subtitle">{{ conclusionMessage }}</p>
  </div>

  <div class="below-card">
    <p class="informative-message">
      Thank you for your time. If you know someone who might have an allergic nose please share this app.
    </p>

    <div class="center-button">
      <ion-button class="custom-btn" (click)="next()">
        Next
      </ion-button>
    </div>
  </div>
</ion-content>
